tap "homebrew/bundle"
tap "jstkdng/programs"
brew "amfora"
brew "bat"
brew "bat-extras"
brew "broot"
brew "chezmoi"
brew "direnv"
brew "docker"
brew "eza"
brew "unzip"
brew "felinks"
brew "fzf"
brew "gh"
brew "go"
brew "go-task"
brew "icu4c@76"
brew "lazygit"
brew "ripgrep"
brew "nb"
brew "neovim"
brew "node"
brew "nushell"
brew "starship"
brew "z"
brew "zellij"
brew "zoxide"
