{{- if ne .chezmoi.os "windows" -}}
#!/bin/bash

# Install homebrew if necesarry
if test ! "$(which brew)"; then
  printf '\n\nHomebrew not found. Installing Homebrew...'
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
else
  printf '\n\nHomebrew found. Continuing...'
fi

brew bundle --file=/dev/stdin <<EOF
brew bat
brew bat-extras
brew eza
brew fzf
brew starship
brew nushell
brew zellij

#brew 'node-build'

#brew hatch
#EOF

#{{ end -}}
