{{- if ne .chezmoi.os "windows" -}}
#!/bin/bash

# Install homebrew if necesarry
if test ! "$(which brew)"; then
  printf '\n\nHomebrew not found. Installing Homebrew...'
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
else
  printf '\n\nHomebrew found. Continuing...'
fi

brew bundle --file=/dev/stdin <<EOF
{{ range .programs.other.universal -}}
brew {{ . | quote }}
{{ end -}}

{{- if eq .devChoices "node" -}}
{{ range .programs.other.node -}}
brew {{ . | quote }}
{{ end -}}

{{ else if eq .devChoices "python" -}}

{{ range .programs.other.python -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
{{ end -}}
