
$env.config.buffer_editor = "nvim"
$env.config.edit_mode = "vi"
$env.config.table.mode = "compact"
$env.config.table.trim = {
  methodology: "truncating"
  truncating_suffix: "..."
}
$env.config.datetime_format.normal = "%y.%m.%d %I:%M:%S%p"

# Terminal integration
$env.config.shell_integration.osc133 = false

{{ if eq .chezmoi.os "windows" }}
mkdir ($nu.data-dir | path join "vendor/autoload")
starship init nu | save -f ($nu.data-dir | path join "vendor/autoload/starship.nu")
use 'C:\Users\6fire\AppData\Roaming\dystroy\broot\config\launcher\nushell\br' *
$env.VISUAL = "neovide"
$env._ZO_ECHO = "1"
source ~/.zoxide.nu
source ~/AppData/Roaming/nushell/scripts/from-others/themes/nu-themes/rose-pine-dawn.nu
source 'C:\Users\6fire\AppData/Roaming/nushell/scripts/from-others/custom-completions/winget/winget-completions.nu'
source $"($nu.cache-dir)/carapace.nu"
{{ else if eq .chezmoi.os "linux" }}
use std/util "path add"
path add "/home/linuxbrew/.linuxbrew/bin"
{{ end }}
